.booknow{
  position: relative;
  &__boxForm{
    background-color: #fffaf6;
    border: 1px solid #f7ebe3;
    @include media-breakpoint-up('m'){
      $x:70px;
      padding-left: #{$x};
      padding-right: #{$x};
    }
    &__title{
      @extend .fz-39;
      font-family: $font-Cormorant-Medium;
      color: #000;
    }
    &__label{
      @extend .fz-16;
      font-family: $font-Montserrat-SemiBold;
      color: #000;
    }
    .uk-input,.uk-textarea,.booknow__boxForm__btnSelect{
      background-color: #ffdfc4;
      border-color: #b98361;
      color: #000;
      &::placeholder{
        color: #000;
      }
    }
    &__btnSelect{
      background-color: #fff;
      text-transform: inherit;
      position: relative;
      text-align: left;
      .uk-icon{
        right: 10px;
      }
    }
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 300px;
    @include media-breakpoint-up('m'){
      min-height: 436px;
    }
    background-color: #fbcdcc;
  }
  &__btn{
    //width: 100%;
    @extend .fz-16;
    text-transform: inherit;
    .booknow__boxForm &{
      background-color: #fff;
      border-color: #b98361;
      color: #b98361;
    }
    .uk-active &{
      border-color: #b98361;
      color: #b98361;
    }
  }
  &__title{
    color: #000;
    margin: 0;
    @extend .fz-39;
    font-family: $font-Cormorant-Medium;
  }
  &__price{
    @extend .fz-42;
    color: #f48380;
    font-family: $font-Montserrat-Medium;
  }
  &__txtDola{
    position: relative;
    top: -16px;
    @extend .fz-16;
  }
  &__txtDate{
    @extend .fz-16;
  }
  &__box1{
    $x:25px;
    padding-bottom: #{$x};
    margin-bottom: #{$x};
    border-bottom: 2px dashed #e9e9e9;
  }
  &__featuresList{
    >li{
      position: relative;
      padding-left: 25px;
      @extend .box1__desc;
      .uk-icon{
        top: 2px;
        color: #f48380;
      }
    }
  }
}