.booknow{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 300px;
    @include media-breakpoint-up('m'){
      min-height: 436px;
    }
    background-color: #fbcdcc;
  }
  &__btn{
    width: 100%;
    @extend .fz-16;
    text-transform: inherit;
  }
  &__featuresList{
    >li{
      position: relative;
      padding-left: 25px;
      @extend .box1__desc;
      .uk-icon{
        top: 2px;
        color: #f48380;
      }
    }
  }
}