.footer{
  background-color: #3c1f18;
  &__top{

  }
  &__bottom{
    border-top: 1px solid #b98361;
    padding-top: 10px;
    padding-bottom: 10px;
    @include media-breakpoint-up('m'){

    }
    &__txt{
      color: #efeded;
    }
  }
}